header {
    background-color: #f1f1f1;
    padding: 20px 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #ff0000; /* Set the link color on hover to a different color, like red (#ff0000) */
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu-option{
    margin-left: 10px;
}
